.Menu_bar{
    display: flex;
    gap: 20px;
    padding: 10px 0;
    flex-direction: column;
    height: max-content;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}