.new_post_button .button{
    color: white;
    font-size: 35px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, #BD26AE, #F71162, #FF0000);
    border-style: none;
    width: 40px;
    height: 170px;
}